@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
}

/* Hide scrollbars for cleaner UI */
::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

@layer utilities {
  .gradient {
    background: linear-gradient(-45deg,#302b63,#00bf8f,#1cd8d2);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}